<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body class="background">
    <form method="post" action="checkUser" th:object="${userDto}" />
    <label class="label"> User1: <input type="text" th:field="${userDto.us1.nick}" /> </label> <br>
    <label class="label">User2:<input type="text" th:field="${userDto.us2.nick}" /></label<br>
        <button class="button" type="submit">Check</button>
        </form>

</body>

</html>