<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">

</head>

<body class="background">

    <div name="conteiner">
        <a href="#" th:href="@{/addUser}">
            <div class="radius"><label class="label">Rejestracja</label> </div>
        </a>

        <a href="#" th:href="@{/Chat}">
            <div class="radius"><label class="label">Chat</label> </div>
        </a>


        <a href="#" th:href="@{/Conversation}">
            <div class="radius"><label class="label">Conversation</label> </div>
        </a>




    </div>

</body>

</html>